* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  
  #green {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  
  #yellow {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  #red {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  