body {
    display: flex;
    height: 100vh;
   
  }
  
  #green {
    order: 3;
    flex: 1;
    
  }
  
  #orange {
    order: 4;
    flex: 5;
    
  }
  
  #yellow {
    order: 1;
    flex: 1;
  }
  
  #red {
    order: 1;
    flex: 1;
  }
  
  #blue {
    order: 5;
    flex: 1;

    
  }
  
  ul {
    text-align: center;
  }
  
  li {
    display: inline-block;
  }